<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1142" key="e711f9b5-d07c-4d75-a4c3-288864a57b8a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-03-08T14:16:46" updateDate="2019-03-08T14:16:46" nodeName="Welcome" urlName="welcome" path="-1,1142" isDoc="" nodeType="1139" creatorName="Christian Øren" writerName="Christian Øren" writerID="0" template="1138" nodeTypeAlias="homePage" isPublished="true">
    <companyAddress><![CDATA[eSports House, 7350 Buvika]]></companyAddress>
    <companyPhone><![CDATA[1234567890]]></companyPhone>
    <companyName><![CDATA[eSports Community]]></companyName>
    <textPage id="1143" key="23d518cc-c629-406c-8eb6-36a9670b1e73" parentID="1142" level="2" creatorID="0" sortOrder="0" createDate="2019-03-08T14:17:19" updateDate="2019-03-08T14:17:19" nodeName="About Us" urlName="about-us" path="-1,1142,1143" isDoc="" nodeType="1141" creatorName="Christian Øren" writerName="Christian Øren" writerID="0" template="1140" nodeTypeAlias="textPage" isPublished="true">
      <textPage id="1147" key="0d5869fc-44ef-4a66-996a-3242aab4f3eb" parentID="1143" level="3" creatorID="0" sortOrder="0" createDate="2019-03-08T14:18:41" updateDate="2019-03-08T14:18:44" nodeName="Board of Directors" urlName="board-of-directors" path="-1,1142,1143,1147" isDoc="" nodeType="1141" creatorName="Christian Øren" writerName="Christian Øren" writerID="0" template="1140" nodeTypeAlias="textPage" isPublished="true" />
    </textPage>
    <textPage id="1144" key="85195eb6-6021-47f1-b8b3-4e6c2f5930c3" parentID="1142" level="2" creatorID="0" sortOrder="1" createDate="2019-03-08T14:17:42" updateDate="2019-03-08T14:17:42" nodeName="Word from the CEO" urlName="word-from-the-ceo" path="-1,1142,1144" isDoc="" nodeType="1141" creatorName="Christian Øren" writerName="Christian Øren" writerID="0" template="1140" nodeTypeAlias="textPage" isPublished="true" />
    <textPage id="1146" key="a6d7f535-62dd-465a-a72f-804ebcacbff7" parentID="1142" level="2" creatorID="0" sortOrder="2" createDate="2019-03-08T14:18:24" updateDate="2019-03-08T14:18:24" nodeName="Contact Us" urlName="contact-us" path="-1,1142,1146" isDoc="" nodeType="1141" creatorName="Christian Øren" writerName="Christian Øren" writerID="0" template="1140" nodeTypeAlias="textPage" isPublished="true" />
  </homePage>
</root>